// Colors
$black: #000000;
$grey: #5e5e5e;
$grey-light: #eeeeee;
$white: #ffffff;
$blue: #778b9c;
$light-blue: rgba(119, 139, 156, 0.5);

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
