@import './variables';

.companyDetailPage {
  width: 100vw;
  height: 100vh;
  background-color: $light-blue;

  main {
    padding: 2rem 10vw;
  }

  .backButton {
    color: white;
    font-size: 1rem;
    img {
      width: 1rem;
    }
    span {
      line-height: 1rem;
    }
  }
}