@import './variables';
@import './mixin';

.companyDetailPage {
  width: 100%;
  height: 100%;
  background-color: $light-blue;
  @include flex-vertical;

  main {
    padding: 1.25rem 10vw;
    height: 100%;
    flex: 1;
    @include flex-vertical;
    overflow: hidden;
  }
  
  .bottomSection {
    flex: 1;
    @include flex-horizontal;
    margin-top: 2.5rem;
  }
  
  .cardTabsWrapper {
    height: 100%;
    flex: 1;
    @include flex-vertical;
  }

  .fixedCardWrapper {
    width: 20rem;
    height: 100%;
    margin-left: 1.25rem;
  }

  .backButton {
    color: $grey;
    font-size: 1rem;
    img {
      width: 1rem;
    }
    span {
      line-height: 1rem;
    }
  }
}