@import './mixin';
@import './variables';

.infoList {
  height: 100%;
  width: 90%;
  padding: 1rem;
  color: $dark-blue;
  font-size: 0.75rem;

  .tableWrapper {
    height: 15rem;
    overflow: auto;
    margin-bottom: 1.5rem;
  }

  tr {
    padding-bottom: 1rem;
  }

  th, td {
    padding-right: 1rem;
  }

  th {
    font-size: 1rem;
  }
}