@import './variables';

.infoTable {
  margin: 1rem;
  width: 90%;
  height: 100%;
  overflow: auto;

  table {
    font-size: 0.75rem;
    margin: 0 auto;

    &.isVertical {
      display: flex;
      align-items: center;
      justify-content: center;
      border-collapse: collapse;

      tbody {
        display: flex;
        flex-direction: row;
      }
      tr {
        display: flex;
        flex-direction: column;
      }
      th {
        line-height: initial;
        text-align: left;
      }
      td {
        text-align: right;
        padding-right: 0;
      }

      th,
      td {
        padding-bottom: 0.75rem;
      }
    }
  }

  th {
    color: $grey;
    font-weight: 500;
    line-height: 0.75rem;
  }
  
  td {
    font-weight: bold;
    text-align: center;
  }
  
  th,
  td {
    padding-right: 2rem;
  }
}