@import "./mixin";
@import "./variables";

.summarySection {
  @include flex-horizontal;
  height: 30%;
  margin-bottom: 2.5rem;

  p {
    font-size: 14px;
    line-height: 1rem;
  }

  .desc {
    max-width: 80%;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
  }

  .marketType {
    font-size: 1.25rem;
    color: $grey;
    margin: 0 0 1.5rem 0;
    line-height: 1.25rem;
  }

  .websiteLinkWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-left: 0.5rem;
    }
  }

  .logo {
    width: 10rem;
  }

  .linkIconWrapper {
    @include flex-horizontal;

    img {
      width: 1.25rem;
    }
  }
}

@include mobile-and-tablet {
  .summarySection {
    @include flex-vertical;
    align-items: flex-start;
    margin-bottom: 2rem;

    .linksContainer {
      @include flex-horizontal;
      flex-direction: row-reverse;
    }

    .logo {
      width: 8rem;
    }
    
    .linkIconWrapper > :last-child,
    .logo {
      margin-left: 0.5rem;
    }
    
  }
}